
<form action="/quizes" method="get">
	<p>Texto a buscar: </p>
	<input type="text" name="search" placeholder="Introduzca el texto a buscar">
	<input type="submit" value="Buscar">
</form>

<br/>
<hr />
<br/>

<table>
<% if (quizes.length > 0) { %>.	
	<% var i; for (i=0; i<quizes.length; i++) {  %>
		<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
	<% } %>
<% }else{ %>	
		<p>No se ha encontrado ninguna pregunta. </p>
<% } %>
</table>